.input-field {
  background: #f2f4f6;
  font-size: 18px;
  border-radius: 5px;
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.75);
}

.input-large {
  width: 700px;
}

.input-medium {
  width: 325px;
}

.input-third {
  width: 450px;
}

.input-small {
  width: 200px;
}

.input-xs {
  width: 75px;
}

.text-area {
  width: 670px;
  max-width: 670px;
  min-height: 100px;
  padding: 15px;
  border-radius: 8px;
}

.input-field::placeholder {
  font-size: 15px;
}

.text-area::placeholder {
  font-size: 15px;
}

.submit-container {
  margin-top: 50px;
}

.submit {
  align-self: center;
  padding: 10px;
  border-radius: 5px;
}
